.whatsapp{
  position: fixed;
    bottom: 15px;
    right: 15px;
}

h1{
  color: rgb(255, 255, 255);
}
h3{
  color: rgb(255, 255, 255);
  margin-top: 4%;
}
.contenedor{
  background-image: url("./violeta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
  height: 62vh;
  width: 100%;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{

 position: relative;
 margin-top: 5%;
 min-height: 70vh;
}
.formTitle{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20%;
}
.formSubtitle{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 5%;
}

.formInputGroup{
   display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 27%;
  width: 50%;
  

}

/* .formInputGroup p{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
  display: flex;
  justify-content: center;
} */
.formInputGroup input{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  border-bottom: 2px solid white;
  height: 30px;
  
}
.formInput label{
  color: rgb(243, 113, 113);
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  position: absolute;
  margin-top: 40px;
  padding-left: 10px;
}

.formInputGroup input::placeholder{
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}
.formInputGroup input:focus{
  outline: none;
}

.botonCont{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.boton{
  background-color: rgb(223, 75, 56);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 15%;
  cursor: pointer;
}
.boton:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(223, 75, 56);
  transition: .5s;
}

.pather{
position: absolute;
margin-top: -10%;




}

