.whatsapp{
  position: fixed;
    bottom: 15px;
    right: 15px;
}

h1{
  color: rgb(255, 255, 255);
}
h3{
  color: rgb(255, 255, 255);
  margin-top: 15px;
}
.contenedor{
  background-image: url("./violeta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formTitle{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 25vh;
}
.formSubtitle{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 30px;
}

.formInputGroup{
   display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 27%;
  width: 20vw;


}

/* .formInputGroup p{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
  display: flex;
  justify-content: center;
} */
.formInputGroup input{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  border-bottom: 2px solid white;
  height: 30px;
}
.formInput label{
  color: rgba(241, 31, 31, 0.918);
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  position: absolute;
  margin-top: 40px;
  padding-left: 10px;
}

.formInputGroup input::placeholder{
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}
.formInputGroup input:focus{
  outline: none;
}

.botonCont{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.boton{
  background-color: rgb(223, 75, 56);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 80px;
}
.boton:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(223, 75, 56);
  transition: .5s;
}
