.container{
    background-color: #EDEDED;
  }
  
  
  .columnaContainer{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   /*  background-color: tomato; */
    margin-top: 30px;
    position: relative;
  
  }
  .columna{
  background-color: #fff;
  margin-top: 50px;
  margin-left: 230px;
  height: 230vh;
  
  }
  .columnaC{
    background-color: #EDEDED;
    margin-top: 50px;
    margin-left: 50px;
    height: 230vh;
    position: absolute;
    top: 0;
    left: 325px;
    width:12vw;
    
  }
  
  .containerDos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5vh;
    background-color: #000000c5;
  }
  .categorias{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    margin-left: 100px;
  
  }
  .Selectores{
   
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
  
  }
  .Selectores select{
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
  font-size: 1.1rem;
  }
  .Selectores option{
    background-color: #6b35e8 ;
  }
  .buttonSelectP{
    width: 80px;
  }
  .usuario label{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 1.2rem;
    cursor: pointer;
  }
  .usuario label:hover{
    color: #6b35e8;
  }

  .carrito{
    margin-bottom:8px;
    font-size: 1.2rem;
  }