
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;   
 /*    margin-top: -141vh */; 
 /*    display: block; */
    
}
.separador{
    border-bottom: #66688D 1px solid;
    margin: 10px;
}

.container img {
    width: 250px;
}
.container h2{
    font-size: 1.5rem;  
    margin-bottom: 10px;
}
.container p{
    color: #66688D ;
    
}