.contenedor{
    height: 30vh;
    background-color: #636363;
}
.subCont{
    
    display: flex;
    justify-content:space-evenly ;
    width: 60vw;
    margin-left: 23vw;
/*     background-color: aqua; */
}
.contenedor h3{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 50px;

}
.contenedor p{

    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
}
.logo img{
  width: 10vw;
  margin-left: -5vw;
  margin-top: 8vh;

}
.box{
    margin-top: 8vh;
}