.paginated{
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;

    font-size:30px;
    width: 100%;
    margin:0;
    margin-top: -35px;
   
}
/* .numeros:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #000;
}

.numeros{
 list-style: none;
 font-size: 25px;
 margin: 13px 12px 12px 10px;  
 width: 50px;
 
} */
.paginatedLeft button{
    background-color: #66688D;
/*     color: white; */
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1rem;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    margin-top: -20px;
}
.paginatedLeft button:hover{
    background-color: #E3EDFB;
    transition: .5s;
    color: black;
}
.paginatedRight button{
    background-color: #66688D;
   /*  color: white; */
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1rem;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    margin-top: -20px;
}
.paginatedRight button:hover{
    background-color: #E3EDFB;
    transition: .5s;
    color: black;
}
